<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
</head>
<body>
    <h1>Registro</h1>
    <form action="/register" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <input type="submit" value="Registrarse">
        </div>
    </form>
    <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
</body>
</html>
